@charset "UTF-8";
* {
   font-family: Arial, Helvetica, sans-serif;
}
   body {
      background-image: linear-gradient(to right, #4F3B15, #8F5E01);
   }
   main {
    background-color: white;

    border-radius: 10px;
    box-shadow: 5px 5px 15px #423723;
    width: 600px;
    padding: 10px;
    margin: auto;
   }
    h1 {
        color:#003E8F;
        text-align: center;
    }
    h2
    {
            color:#14243A;
        }
   p {
    text-align: center;
   }

  
